/*ESTILOS BASE*/
@font-face {
    font-family: Epilogue;
    src: url(./assets/font/Epilogue-VariableFont_wght.ttf);
}
body {
    font-family: Epilogue;
    background-color: #EBEBEB;
} 
a {
    color: #FFFFFF;
    text-decoration: none;
}
.btn-primary {
    background-color: #C1887F;
    border: 0;
    font-size: medium;
    font-weight: bold;
    margin: 0 15px;
}
.btn-primary:hover {
    background-color: #C1887F;
    color: #FFFFFF;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
}
.btn-outline-primary {
    border: 1px solid #C1887F;
    color: #C1887F;
}
.btn-outline-primary:hover {
    border: 1px solid #C1887F;
    background-color: #FFFFFF;
    color: #C1887F;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
}
.btn-outline-secondary {
    color: #787785;
    border: 1px solid #787785;
}
.btn-outline-secondary:hover {
    color: #787785;
    border: 1px solid #787785;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
}
/*NAVBAR*/
.navbar {
    background-color: #787785;
}
.nav-link {
    color: #FFFFFF;
}
.navbar img {
    height: 50px;
}
/*MODAL*/
.modal-content {
    width: 80%;
}
.modal-body {
    padding: 30px 20px 30px 20px;
}
.modal-body #pwd {
    margin-bottom: 10px; 
}
.pwd-forget {
    margin: 0 0 15px 0;
}
.modal-body a {
    font-size: 14px;
    color: #C1887F;
    text-decoration: underline;
}
.modal-body .btn-primary {
    margin: 0;
}
/*SECCIÓN JUMBOTRON*/
.welcome .jumbotron {
    background-image: url(./assets/images/jumbotron-bg.png); 
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    background-size: cover;
    background-position: center;
    padding: 150px;
    color: #FFFFFF;
}
/*SECCIÓN PROD. DESTACADOS*/
.featured-prod {
    padding: 50px 0;
}
h2 {
    font-weight: bold;
    font-size: 40px;
}
.button-wrapper {
    text-align: center;
}
.more {
    margin-top: 20px;
    width: 50%;
}
/*ESTILOS CARDS CAROUSEL*/  
.card-wrapper {
    display: flex;
    justify-content: center;
}
.card-wrapper .card {
    margin: 0.5rem;
    width: 25%;
}
.image-wrapper {
    height: 15vw;
    display: flex;
    justify-content: center;
}
.image-wrapper img {
    width: 500px;
    max-height: 100%;
    overflow: hidden;
}
.card-body {
    text-align: center;
}
.carousel-inner .card-title {
    font-size: 18px;
    font-weight: 200;
}
.carousel-inner .card-text {
    font-size: 24px;
    font-weight: 500;
}
.carousel-inner a {
    width: 80%;
}
.carousel-inner {
    padding-bottom: 50px;
}
/*SECCIÓN CATEGORIAS*/
.categories {
    padding: 30px;
}
.categories .card {
    margin: 10px;
    width: 20%;
    padding: 0;
}
.categories .card-img-top {
    height: 200px;
    width: 100%;
}
.categories h5 {
    font-size: 28px;
    font-weight: 700;
    margin: 15px 0;
}
.categories a {
    width: 75%;
}
/*SECCIÓN SERVICIOS*/
.services {
    background-color: #787785;
    color: #FFFFFF;
    padding: 50px;
}
.services h2 {
    text-align: center;
    margin-bottom: 15px;
}
.services button {
    width: 30%;
    margin-top: 20px;
}
.item {
    width: 25%;
    text-align: center;
}
.item img {
    width: 140px;
    height: 140px;
    margin: 15px;
}
.item h6 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
}
/*SECCIÓN ABOUT*/
.about {
    padding: 30px;
}
.about h6 {
    font-size: 24px;
}
.about iframe {
    width: 80%;
}
/*ASIDE*/
.ads .jumbotron {
    background-image: url(./assets/images/ads-jumbo-bg.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
    background-size: cover;
    background-position: center;
    padding: 100px;
    color: #FFFFFF;
}
.ads .display-5 {
    font-weight: bold;
    margin-bottom: 20px;
}
.ads .lead {
    font-size: 26px;
}
.ads a {
    font-weight: bold;
    text-decoration: underline;
}
.subscribe {
    padding: 50px;
    text-align: center;
}
.subscribe .card {
    padding: 20px;
    max-width: 70%;
}
.subscribe img {
    width: 200px;
    margin-top: 50px;
}
.subscribe h5 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}
.subscribe p {
    font-size: 20px;
}
.subscribe form {
    text-align: left;
}
.subscribe #email {
    margin-bottom: 10px;
}
.subscribe .btn-primary {
    margin: 20px 0 0 0;
}
/*FOOTER*/
footer {
    background-color: #787785;
    color: #FFFFFF;
    padding: 30px;
}
footer i {
    font-size: 24px;
    margin-right: 40px;
    margin-top: 20px;
    color: #C1887F;
}
footer ul {
    list-style: none;
    margin-top: 30px;
}
footer li {
    margin-left: -30px;
}
footer li a:hover {
    text-decoration: underline;
}
/*LOGIN PAGE*/
.login {
    padding: 50px;
}
.login .login-card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login .card {
    padding-right: 20px;
}
.login h3 {
    margin: 20px 0;
    font-weight: bold;
    font-size: 32px;
}
.login input, select {
    margin: 10px;
}
.login label {
    margin-left: 5px;
}
.login .form-check {
    margin: 0 0 20px 10px; 
    text-align: left !important
}
.login .form-check label {
    margin-top: 10px;
    font-size: 14px;
}
.login button {
    width: 50%;
    margin-bottom: 30px;
}
/*ESTILOS MOBILE*/
@media only screen and (max-width: 600px) {
    body {
        text-align: center;
    }
    h2 {
        font-size: 28px;
    }
    /*NAVBAR*/
    .navbar-nav {
        text-align: center;
    }
    .nav-item {
        margin: 8px 0;
    }
    .custom-toggler .navbar-toggler-icon {
        background-image: url(./assets/images/custom-menu-icon.svg);
    }
    .custom-toggler {
        border: 1px solid #FFFFFF;
    }
    /*MODAL*/
    /*JUMBOTRON BIENVENIDA*/
    .welcome .jumbotron {
        padding: 50px;
    } 
    /*PRODUCTOS DESTACADOS*/
    .featured-prod {
        padding-top: 30px;
    }
    .carousel-desktop {
        display: none;
    }
    /*CATEGORIAS*/
    .categories {
        padding: 20px;
    }
    .categories .card {
        width: 90%;
    }
    /*SERVICIOS*/
    .services {
        padding: 20px;
    }
    .services .item {
        width: 90%;
    }
    .services .item img {
        width: 100px;
        height: 100px;
    }
    .services button {
        width: 70%; 
    }
    /*ABOUT*/
    .about .btn-outline-primary {
        margin-bottom: 15px;
    }
    /*ASIDE*/
    .ads .jumbotron {
        padding: 25px;
    }
    .ads h1 {
        font-size: 24px;
    }
    .ads .lead {
        font-size: 18px;
    }
    /*SUBSCRIBE*/
    .subscribe {
        padding: 20px;
    } 
    .subscribe .card {
        padding: 20px;
        max-width: 90%;
    }
    .subscribe img {
        width: 100px;
    }
    .subscribe h5 {
        font-size: 22px;
    }
    .subscribe p {
        font-size: 18px;
    }
    .subscribe .checkbox label {
        font-size: 13px;
    }
    /*FOOTER*/
    footer i {
        margin: 20px 10px 30px 20px;
    }
  }